Flask==2.1.0
protobuf==3.20.*
openai==0.27.0
requests
feedparser
tiktoken
google-cloud
google-cloud-secret-manager
google-cloud-firestore

google-auth==1.27.0
google-auth-oauthlib==0.4.2
oauthlib==3.1.0