body {
  font-family: Arial, sans-serif;
  background-image: radial-gradient(circle, rgb(240, 160, 160), rgb(255, 0, 0), rgb(0, 0, 0));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  margin: 0;
}

.fixed-container {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.title-text {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  font-family: 'Dancing Script', cursive;
}

.paw-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 20px;
}

.subtitle-text {
  font-size: 24px;
  text-align: center;
  color: #000000;
  margin-bottom: 15px;
  font-family: 'Pacifico', cursive;
}

.wish-container {
  width: 100%;
  /* max-width: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
}

.wish-text {
  font-size: 24px;
  margin-right: 10px;
  color: #000000;
  font-family: 'Pacifico', cursive;
}

.wish-input {
  flex-grow: 1;
  border: 2px solid #ccc;
  width: 400px;
  padding: 10px;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  transition: border-color 0.3s;
}

.wish-input:focus {
  border-color: #888;
}

.submit-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
  border-radius: 25px;
  transition: background-color 0.5s, transform .5s;
}

.submit-button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #45a049 0 -3px 0 inset;
  transform: scale(1.1);
}

.loading {
  display: none;
}

.response-box {
  width: 100%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 590px;
  color: #000000;
  min-height: 300px;
  margin-left: 20px;
}