<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Art Canvas</title>
    <meta name="description" content="A canvas to draw and create art.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css')}}">

    <link rel="stylesheet" href="/static/css/ArtCanvas.css">
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="home-corner">
        <a href="/" class="home-button">Home</a>
    </div>

    <canvas id="canvas"></canvas>

    <div class="nav">
        <!-- <div class="home-corner">
            <a href="/" class="home-button">Home</a>
        </div> -->

        <div class="buttons">
            <button class="clear">clear</button>
            <button class="save">save</button>
        </div>

        <!-- <div class="blank"></div> -->

        <div class="colors">
            <div class="clr" data-clr="#FFFFFF"></div>
            <div class="clr" data-clr="#000000"></div>
            <div class="clr" data-clr="#FF0000"></div>
            <div class="clr" data-clr="#FFFF00"></div>
            <div class="clr" data-clr="#00FF00"></div>
            <div class="clr" data-clr="#00FFFF"></div>
            <div class="clr" data-clr="#0000FF"></div>
            <div class="clr" data-clr="random"></div>
        </div>

        <!-- <div class="blank"></div> -->
        
        <div class="modes">
            <div class="mode" data-mode="draw"></div>
            <div class="mode" data-mode="stamp"></div>
        </div>

        <div class="slidecontainer">
            <input type="range" min="1" max="200" value="10" class="slider" id="sizeSlider">
        </div>
    </div>

    <script src="/static/js/ArtCanvas.js"></script>
</body>
</html>