<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pole Balancing Task</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico"/>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css')}}">
        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body style="background-color:rgb(170,170,170);">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <a href="/" class="home-button">Home</a>

        <div class="pole-balancing-display text-center" id="top">
            <div class="banner-overlay"></div>
            <!-- <div class="home-button-overlay"><a href="/" class="home-button">Home</a></div> -->
            <div class="project-text">
                <h2>Pole Balancing - UNDER DEVELOPEMENT</h2>
            </div>
        </div>
        
    </body>
</html>