<!DOCTYPE html>
<html lang="en">
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fractal Tree Creator</title>
    <meta name="description" content="An app to track your hands/face through the webcam.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico"/>
        
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css')}}">
</head>
<body style="background-color:rgb(250,215,190);">
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <a href="/" class="home-button">Home</a>

    <div class="controls text-center">
        <p>Size:</p>
        <input id="length_slider" class="slider" type="range" min="40" max="150" step="1" value="120" 
        oninput="update_length(this.value); control_draw()" onchange="update_length(this.value); control_draw()">

        <p>Tilt:</p>
        <input id="tilt_slider" class="slider" type="range" min="-45" max="45" step="1" value="0" 
        oninput="update_tilt(this.value); control_draw()" onchange="update_tilt(this.value); control_draw()">

        <p>Line thickness:</p>
        <input id="width_slider" class="slider" type="range" min="1" max="75" step="1" value="15" 
        oninput="update_width(this.value); control_draw()" onchange="update_width(this.value); control_draw()">
    </div>

    <canvas id="my_canvas"></canvas>

    <script>
        var myCanvas = document.getElementById("my_canvas");
        var ctx = myCanvas.getContext("2d");

        myCanvas.width = document.body.clientWidth; //document.width is obsolete
        myCanvas.height = document.body.clientHeight * 2.1; //document.height is obsolete

        // var length_slider = document.getElementById("length_slider");
        // var tilt_slider = document.getElementById("tilt_slider");
        // var width_slider = document.getElementById("width_slider");
        
        var x_coord = 945
        var y_coord = 750
        var length = 120
        var tilt = 0
        var width = 15

        function draw(startX, startY, len, angle, branchWidth) {
            ctx.lineWidth = branchWidth;

            ctx.beginPath();
            ctx.save();

            ctx.strokeStyle = "green";
            ctx.fillStyle = "green";

            ctx.translate(startX, startY);
            ctx.rotate(angle * Math.PI/180);
            ctx.moveTo(0, 0);
            ctx.lineTo(0, -len);
            ctx.stroke();

            ctx.shadowBlur = 50;
            ctx.shadowColor = "rgba(0,0,0,0.4)";

            if(len < 10) {
                ctx.restore();
                return;
            }

            draw(0, -len, len*0.8, angle-15, branchWidth*0.8);
            draw(0, -len, len*0.8, angle+15, branchWidth*0.8);

            ctx.restore();
        }

        // slider.addEventListener("change", function() { 
        //     length = slider.value;  
        //     ctx.clearRect(0, 0, myCanvas.width, myCanvas.height); // Clears the entire canvas
        //     draw(945, 941, length, 0, 10)
        // })

        function control_draw() {
            ctx.clearRect(0, 0, myCanvas.width, myCanvas.height); 
            console.log(x_coord, y_coord, length, tilt, width)
            draw(x_coord, y_coord, length, tilt, width);
        }

        function update_length(new_length) {
            length = parseInt(new_length)
        }

        function update_tilt(new_tilt) {
            tilt = parseInt(new_tilt)
        }

        function update_width(new_width) {
            width = parseInt(new_width)
        }

        control_draw()

    </script>
</body>
</html>