<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dennis Koshta's Portfolio</title>
    <meta name="description" content="A website portfolio to show my projects.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico"/>
    
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">

    <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?render=6LeeUMMgAAAAAGjd6JYnDJQrtY6_vHySUZXetYB9"></script>
</head>
<body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="responsive-header visible-xs visible-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-section">
                        <div class="profile-image">
                            <img src="/static/assets/img/profile.jpg" alt="">
                        </div>
                        <div class="profile-content">
                            <h3 class="profile-title">Dennis Koshta</h3>
                            <p class="profile-description">A dedicated student, programmer, pianist and AI enthusiast who thrives on exploring innovative software and AI technologies to shape a smarter and better future.</p>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="toggle-menu"><i class="fa fa-bars"></i></a>
            <div class="main-navigation responsive-menu">
                <ul class="navigation">
                    <li><a href="#top"><i class="fa fa-home"></i>Home</a></li>
                    <li><a href="#about"><i class="fa fa-user"></i>About Me</a></li>
                    <li><a href="#projects"><i class="fa fa-paperclip"></i>My Projects</a></li>
                    <li><a href="#resume"><i class="fa fa-newspaper-o"></i>My Resume</a></li>
                    <li><a href="#contact"><i class="fa fa-link"></i>Contact Me</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- SIDEBAR -->
    <div class="sidebar-menu hidden-xs hidden-sm">
        <div class="top-section">
            <div class="profile-image">
                <img src="/static/assets/img/profile.jpg" alt="">
            </div>
            <h3 class="profile-title">Dennis Koshta</h3>
            <p class="profile-description">A dedicated student, programmer, pianist and AI enthusiast who thrives on exploring innovative software and AI technologies to shape a smarter and better future.</p>
        </div> <!-- top-section -->
        <div class="main-navigation">
            <ul class="navigation">
                <li><a href="#top"><i class="fa fa-globe"></i>Welcome</a></li>
                <li><a href="#about"><i class="fa fa-user"></i>About Me</a></li>
                <li><a href="#projects"><i class="fa fa-paperclip"></i>My Projects</a></li>
                <li><a href="#resume"><i class="fa fa-newspaper-o"></i>My Resume</a></li>
                <li><a href="#contact"><i class="fa fa-link"></i>Contact Me</a></li>
            </ul>
        </div> <!-- .main-navigation -->
        <!--<div class="social-icons">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>
        </div>  .social-icons -->
    </div> <!-- .sidebar-menu -->
    

    <div class="banner-bg" id="top">
        <div class="banner-overlay"></div>
        <div class="welcome-text">
            <h2>Dennis Koshta - My Website Portfolio</h2>
            <h5>A website to showcase my projects and resume</h5>
        </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="fluid-container">

            <div class="content-wrapper">
            
                <!-- ABOUT -->
                <div class="page-section" id="about">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="widget-title">About Me</h4>
                        <div class="about-image">
                            <img src="/static/assets/img/8.jpg" alt="">
                        </div>
                        <p style="font-size:16px;">Hey, my name is Dennis Koshta, I'm 20 years old, and attend UC Santa Cruz, where I'm studying to get my B.S. in Computer Science. 
                            I've been interested in AI and machine learning for many years now,
                            and so I've decided to create a website portfolio where I'll be posting my projects, work, and other relevant content.
                            You can learn more about me by going to my
                            <a href="https://www.linkedin.com/in/denniskoshta/" target="_blank" rel="noopener noreferrer">LinkedIn</a>, but you can see my resume on here too, as well as all my cool projects! Enjoy.</p>
                        <hr>
                    </div>
                </div> <!-- #about -->
                </div>
                
                <!-- PROJECTS -->
                <div class="page-section" id="projects">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="widget-title">My Projects</h4>
                        <p style="font-size:16px;">A showcase of various projects that I've worked on.</p>
                    </div>
                </div>
                <div class="row projects-holder">

                    <div class="col-md-4 col-sm-6">
                        <a href="{{ url_for('MotionTracking') }}">
                            <div class="project-item">
                                <img src="/static/assets/img/motion_tracking_example.png" alt="">
                                <div class="project-hover">
                                        <div class="inside">
                                            <h5>Hand Motion Tracking</h5>
                                            <p>Utilizing MediaPipe NodeJS packages, this project provides real-time tracking and graphical visualization of hands and fingers by processing the input from a webcam. 
                                                The implementation leverages the powerful machine learning models and algorithms provided by the MediaPipe library to accurately identify and track the positions of individual hand landmarks, 
                                                enabling efficient and precise representation of hand gestures and movements in a visual form. 
                                                This technology can be applied in a variety of domains, such as computer vision, human-computer interaction, and virtual reality, among others.
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    
                        <div class="col-md-4 col-sm-6">
                            <a href="static/assets/Sixdegrees.zip" onclick="return confirmDownload()">
                                <div class="project-item">
                                    <img src="/static/assets/img/six_degrees.png" alt="">
                                    <div class="project-hover">
                                            <div class="inside">       
                                                <h5>Six Degrees of Kevin Bacon</h5>
                                                <p>This C++ program computes the shortest path between two actors in terms of degrees of separation using their movie appearances as connections. 
                                                    Takes a formatted input text file containing actor pairs and outputs the corresponding movie/actor connections in a separate output file.
                                                    Optimized C++ code using an adjancency list data structure and BFS to find the shortest path efficiently. 
                                                    Click on this project tile to download a zip file with the source code and instructions on use.
                                                </p>   
                                            </div>  
                                    </div>
                                </div> 
                            </a>
                        </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="{{ url_for('ArtCanvas') }}">
                            <div class="project-item">
                                <img src="/static/assets/img/fractal_example.png" alt="">
                                <div class="project-hover">
                                        <div class="inside">
                                            <h5>Art Canvas</h5>
                                            <p>The application presents a user-friendly digital drawing platform that enables users to effortlessly design and produce a wide range of simple artistic creations. 
                                                It incorporates features such as adjustable stroke thickness, the ability to stamp a fractal tree pattern, extensive color customization options, 
                                                and dedicated buttons to save the artwork or clear the entire canvas. This artistic tool uses the JavaScript programming language 
                                                and the HTML5 Canvas element, resulting in a seamless and responsive user experience.
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="{{ url_for('MonkeysPaw') }}">
                            <div class="project-item">
                                <img src="/static/assets/img/monkeys_paw.jpg" alt="">
                                <div class="project-hover">
                                        <div class="inside">
                                            <h5>The Monkey's Paw</h5>
                                            <p>This project harnesses the power of OpenAI's GPT API to grant users their wishes, with a twist! 
                                                Inspired by the famous short story "The Monkey's Paw" by W.W. Jacobs, this project aims to provide a fun and engaging experience for users.
                                                The project is built using Python and the OpenAI GPT API for the main functionality, and leverages Flask for the web application backend. 
                                                To ensure the security and privacy of the API key, environment variables and google-cloud-secret-manager are used to keep it secret even though the code is hosted in a git repository.
                                            </p>
                                        </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    
                    <div class="col-md-4 col-sm-6">
                        <a href="static/assets/multithreaded_HTTP_server.zip" onclick="return confirmDownload()">
                            <div class="project-item">
                                <img src="/static/assets/img/server.png" alt="">
                                <div class="project-hover">
                                        <div class="inside">   
                                            <h5>Multithreaded HTTP Server</h5>
                                            <p>This project uses C to implement a simple multi-threaded HTTP server that serves multiple clients simultaneously using a thread-safe queue. 
                                            The server ensures that its responses conform to a coherent and atomic linearization of the client requests and creates an audit log to identify the linearization.
                                            Uses the Pthreads library and supports GET/PUT methods.
                                            Click on this project tile to download a zip file with the source code and instructions on use.
                                            </p>   
                                        </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> <!-- .projects-holder -->
                </div>
                <hr>

                <!-- RESUME -->
                <div class="page-section" id="resume">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="widget-title">My Resume</h4>
                        <p style="font-size:16px;">This is a one-page summary of the experience, skills, and certifications that I have acquired in my time learning computer science. 
                            It is only an overview, and omits some of the less relevant work I have done, so if you want to learn more about my projects or experiences, please don't hesitate to contact me.
                            You can also access the pdf at <a href="https://drive.google.com/file/d/1tD5gzQS4yIuUi6Y4iXj-GHg1hxQGxZZp/view" target="_blank" rel="noopener noreferrer">this link.</a></p>
                    </div>
                <div class="resume">
                    <object type="application/pdf" data="/static/assets/resume.pdf#toolbar=0">
                        <embed src="https://drive.google.com/file/d/1tD5gzQS4yIuUi6Y4iXj-GHg1hxQGxZZp/preview?usp=sharings"/></object>
                </div>  

                <hr>

                <!-- CONTACT -->
                <div class="page-section" id="contact">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h4 class="widget-title">Contact Me</h4>
                        <p style="font-size:16px;">I'm currently looking for a job, so if you have any questions about my projects, 
                            or would like to discuss a job offer with me, please feel free to send me an email
                            or contact me using the form below.</p>
                    </div>
                </div>
                <div class="row">
                    <form action="https://getform.io/f/60c1fc0d-8ab0-49b9-b65d-878fe946f5f3" method="POST" class="contact-form">
                        
                        <fieldset class="col-md-4 col-sm-6">
                            <input type="text" name="name" id="your-name" placeholder="Your Name...">
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-6">
                            <input type="email" name="email" id="email" placeholder="Your Email...">
                        </fieldset>
                        <fieldset class="col-md-4 col-sm-12">
                            <input type="text" name="subject" id="your-subject" placeholder="Subject...">
                        </fieldset>
                        <fieldset class="col-md-12 col-sm-12">
                            <textarea type="text" name="message" id="message" cols="30" rows="6" placeholder="Leave your message..."></textarea>
                        </fieldset>

                        <!-- <div class="captcha">{{ recaptcha }}</div> -->
                        <input type="hidden" id="captchaResponse" name="g-recaptcha-response">
                        <!-- <div class="g-recaptcha" data-sitekey="6LePEsMgAAAAAB_96g52ZGYM7YR97GWcy05rqVp4"></div> -->

                        <fieldset class="col-md-12 col-sm-12">
                            <input type="submit" class="button big default" value="Submit">
                        </fieldset>
                        
                    </form>
                </div> <!-- .contact-form -->
                </div>
                <hr>

                <div class="row" id="footer">
                    <div class="col-md-12 text-center">
                        <p class="copyright-text">Copyright &copy; 2022 Dennis Koshta</p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="/static/js/min/plugins.min.js"></script>
    <script src="/static/js/min/main.min.js"></script>

    <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('6LeeUMMgAAAAAGjd6JYnDJQrtY6_vHySUZXetYB9', {action: 'homepage'})
            .then(function(token) {
                document.getElementById('captchaResponse').value = token;
            });
            });

        function confirmDownload() {
            return confirm("Download the source code ZIP?");
        }
    </script>
</body>
</html>