<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Motion Tracker</title>
        <meta name="description" content="An app to track your hands through the webcam.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico"/>
        
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css')}}">

        <script src="/static/js/vendor/modernizr-2.6.2.min.js"></script>
        <script src="/static/js/vendor/jquery-1.10.2.min.js"></script>
        <script src="/static/js/min/plugins.min.js"></script>
        <script src="/static/js/min/main.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/camera_utils/camera_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/control_utils/control_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/drawing_utils/drawing_utils.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/hands/hands.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/face_mesh.js" crossorigin="anonymous"></script>
    </head>
    <body style="background-color:rgb(40,50,55);">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <a href="/" class="home-button">Home</a>

        <div class="motion-tracking-display text-center" id="top">
            <div class="banner-overlay"></div>
            <!-- <div class="home-button-overlay"><a href="/" class="home-button">Home</a></div> -->
            <div class="project-text">
                <h2>Hand Tracking</h2>
                <!-- OLD WORKING CODE THROUGH PYTHON
                 <div class="video"><img src="{{ url_for('MotionTracking') }}" width="60%"></div> -->

                <!-- NEW CODE -->
                <video class="input_video"></video>
                <canvas class="output_canvas" width="1280px" height="720px"></canvas>
            </div>
        </div>

        <script type="module">
            const videoElement = document.getElementsByClassName('input_video')[0];
        
            videoElement.style.display = "none";
        
            const canvasElement = document.getElementsByClassName('output_canvas')[0];
            const canvasCtx = canvasElement.getContext('2d');
        
            // const canvasElement2 = document.getElementsByClassName('output_canvas2')[0];
            // const canvasCtx2 = canvasElement2.getContext('2d');
            
            function onResults(results) {
              canvasCtx.save();
              canvasCtx.clearRect(0, 0, canvasElement.width, canvasElement.height);
              canvasCtx.translate(1280, 0);
              canvasCtx.scale(-1,1);
              canvasCtx.drawImage(
                  results.image, 0, 0, canvasElement.width, canvasElement.height);
              if (results.multiHandLandmarks) {
                for (const landmarks of results.multiHandLandmarks) {
                  drawConnectors(canvasCtx, landmarks, HAND_CONNECTIONS,
                                 {color: '#00FF00', lineWidth: 5});
                  drawLandmarks(canvasCtx, landmarks, {color: '#FF0000', lineWidth: 2});
                }
              }
              canvasCtx.restore();
            }
        
            // function onResults_2(results) {
            //   canvasCtx2.save();
            //   canvasCtx2.clearRect(0, 0, canvasElement2.width, canvasElement2.height);
            //   canvasCtx2.translate(1280, 0);
            //   canvasCtx2.scale(-1,1);
            //   canvasCtx2.drawImage(
            //       results.image, 0, 0, canvasElement2.width, canvasElement2.height);
            //   if (results.multiFaceLandmarks) {
            //         for (const landmarks of results.multiFaceLandmarks) {
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_TESSELATION,
            //                         {color: '#C0C0C070', lineWidth: 1});
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_RIGHT_EYE, {color: '#FF3030'});
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_RIGHT_EYEBROW, {color: '#FF3030'});
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_RIGHT_IRIS, {color: '#FF3030'});
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_LEFT_EYE, {color: '#30FF30'});
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_LEFT_EYEBROW, {color: '#30FF30'});
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_LEFT_IRIS, {color: '#30FF30'});
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_FACE_OVAL, {color: '#E0E0E0'});
            //         drawConnectors(canvasCtx2, landmarks, FACEMESH_LIPS, {color: '#E0E0E0'});
            //         }
            //     }
            //   canvasCtx2.restore();
            // }
            
            const hands = new Hands({locateFile: (file) => {
                return `https://cdn.jsdelivr.net/npm/@mediapipe/hands/${file}`;
            }});
            hands.setOptions({
                maxNumHands: 2,
                modelComplexity: 1,
                minDetectionConfidence: 0.5,
                minTrackingConfidence: 0.5
            });
            hands.onResults(onResults);
        
            // const faceMesh = new FaceMesh({locateFile: (file) => {
            //     return `https://cdn.jsdelivr.net/npm/@mediapipe/face_mesh/${file}`;
            // }});
            // faceMesh.setOptions({
            //     maxNumFaces: 1,
            //     refineLandmarks: true,
            //     minDetectionConfidence: 0.5,
            //     minTrackingConfidence: 0.5
            // });
            // faceMesh.onResults(onResults_2);
        
            const camera = new Camera(videoElement, {
              onFrame: async () => {
                await hands.send({image: videoElement}); 
              },
              width: 1280,
              height: 720
            });
        
            // const camera2 = new Camera(videoElement, {
            //   onFrame: async () => {
            //     await faceMesh.send({image: videoElement}); 
            //   },
            //   width: 1280,
            //   height: 720
            // });
        
            camera.start();
            // camera2.start();
            </script>

    </body>
</html>