<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NextTask</title>
    <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/templatemo-style.css">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Add Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">

     <!-- Include flatpickr library -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
     <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>
<body class="bg-green-100 min-h-screen">
    <div class="home-corner">
        <a href="/" class="home-button">Home</a>
    </div>

    <div class="container mx-auto p-4">
        <h1 class="text-4xl font-bold text-center -mt-2 mb-4">NextTask</h1>

        <form id="add-task-form" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                    Title
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title" type="text" name="title" placeholder="Title" maxlength="100" required>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
                    Description (optional)
                </label>
                <textarea class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" name="description" placeholder="Description" maxlength="1000"></textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="due-date">
                    Due Date (optional)
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="due-date" type="text" name="due_date" placeholder="Date">
            </div>
            <div class="flex items-center justify-between">
                <button id="add-task-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                    Add Task
                </button>
            </div>
        </form>

        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <h2 class="text-2xl font-bold text-center mb-6">Next Task</h2>
            <div id="next-task" class="text-xl"></div>
        </div>

        <div class="text-center mb-4">
            <button id="clear-all-tasks" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                Clear All Tasks
            </button>
        </div>

        <div class="bg-white shadow-md rounded px-8 pt-6 pb-8">
            <div class="flex items-center justify-between">
                <h2 class="text-2xl font-bold">All Tasks</h2>
                <button id="toggle-all-tasks" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline">
                    Toggle
                </button>
            </div>
            <div id="all-tasks-content" class="mt-4"> <!-- Wrap the content that should be collapsible -->
                <div id="all-tasks-container" class="max-h-80 overflow-y-auto">
                    <div id="all-tasks" class="space-y-4"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Add required JavaScript for functionality -->
    <script src="/static/js/NextTask.js"></script>
</body>
</html>