<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
</head>

<body>
    <video id="vid" autoplay></video>
    <canvas id="input" width="320" height="240"></canvas>
    <canvas id="output" width="320" height="240"></canvas>
    <img src="{{ url_for('test2_vid') }}" height="100%" method = "GET">

    <script>
        var video = document.getElementById('vid');
        var input = document.getElementById('input');
        var ouput = document.getElementById('output');
        var ctxInput = input.getContext('2d', willReadFrequently=true);
        ctxInput.canvas.width = input.width
        ctxInput.canvas.height = input.height

        var ctxOutput = output.getContext('2d', willReadFrequently=true);

        navigator.mediaDevices.getUserMedia({ video: { facingMode: "environment", width: 320, height: 240 } }).then(stream => {        
            if ("srcObject" in video) {
                video.onplaying = function () {
                    function processVideo() {
                        ctxInput.drawImage(vid, 0, 0);
                        var imgData = ctxInput.getImageData(0, 0, input.width, input.height);

                        //Send image data to Python
                        processImage(imgData.data, imgData.height, imgData.width);
                        
                        //Receive processed image data
                        ctxOutput.putImageData(imgData, 0, 0);
                        Promise.all([drawTestLineR(ctxOutput), drawTestLineG(ctxOutput)]).then(e => { 
                            requestAnimationFrame(processVideo);
                        });
                    }
                    requestAnimationFrame(processVideo);
                }
                video.srcObject = stream;
            }
        }).catch(e => { console.log(e); });
            
        function wait(milisec) {
            return new Promise(resolve => {
                setTimeout(() => { resolve('') }, milisec);
            })
        }

        function drawTestLineR(context) {
            return new Promise(resolve => {
                wait(100).then(e => {
                    context.beginPath();
                    context.strokeStyle = 'red';
                    context.lineWidth = 4;
                    context.moveTo(0, 0);
                    context.lineTo(50, 50);
                    context.closePath();
                    context.stroke();
                    context.restore();
                    resolve();
                });
            });
        }

        function drawTestLineG(context) {
            return new Promise(resolve => {
                wait(150).then(e => {
                    context.beginPath();
                    context.strokeStyle = 'green';
                    context.lineWidth = 4;
                    context.moveTo(50, 50);
                    context.lineTo(100, 100);
                    context.closePath();
                    context.stroke();
                    context.restore();
                    resolve();
                });
            });
        }

        function processImage(image, h, w) {
            const s = JSON.stringify({"img": image, 'h':h, 'w':w}); // Stringify converts a JavaScript object or value to a JSON string
            $.ajax({
                url:"/test2_func",
                type:"POST",
                contentType: "application/json",
                data: JSON.stringify(s)});
        }

    </script>

</body>
</html>

